@import "variables";

.header {
  position: fixed;
  height: fit-content;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  // padding-bottom: 1.5rem;
  background-color: var(--white);

  transition: top 0.6s linear;
  &[data-hidden="true"] {
    top: -200px;
    transition: top 0.6s linear;
  }

  .container {
    padding-top: 0;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 120px;
  background-color: var(--secondary-lightest-green);
}

.sidebar_wrapper {
  position: absolute;
}

.logo {
  margin-right: 40px;
}

.input_wrapper {
  width: 100%;
}

.navigation {
  margin-left: 40px;
  &_list {
    display: flex;
    align-items: flex-end;
  }
}
.list_item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-right: 34px;
  }
}
.item_icon {
  margin-bottom: 8px;
  &__user {
    & > circle,
    path {
      stroke: var(--green);
    }
  }
  &__like {
    & > path {
      stroke-width: 2px;
      stroke: var(--green);
    }
  }
  &__cart {
    & > path {
      fill: var(--green);
    }
  }
}

.search_icon__mobile {
  display: none;
}

@include breakpoint_max("tablet_lg") {
  .wrapper {
    padding: 10px 2rem;
    justify-content: space-between;
    gap: 1rem;
  }
  .input_wrapper {
    display: none;
  }

  .navigation {
    display: none;
  }

  .search_icon__mobile {
    display: block;
    path {
      fill: var(--green);
    }
  }

  .logo {
    width: auto;
    margin: 0;
  }
}
