@import "variables";

.wrapper {
  width: 100%;
  // height: 336px;
  max-width: 1200px;

  position: relative;
  padding: 3rem 6rem;
  margin-top: 48px;
  background-color: #75c652;

  z-index: 1;

  &__description {
    max-width: 45%;
    color: var(--white);
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: -4px;

  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
}

.button_link {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  background-color: var(--white);
  cursor: pointer;
  box-shadow: none;
  border: none;
}

.link {
  display: none;
}

.image {
  z-index: -1;
}
.image__desktop {
  opacity: 1;
}

.image__mobile {
  opacity: 0;
}

@include breakpoint_max("tablet_lg") {
  .wrapper {
    padding: 2.25rem 2rem;
  }
}

@include breakpoint_max("mobile") {
  .wrapper {
    margin-top: 2rem;

    &__description {
      max-width: 241px;
    }
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }

  .description {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.125rem;
  }

  .button_link {
    display: none;
  }

  .link {
    display: flex;

    font-size: 0.8125rem;
    font-weight: 600;
    color: var(--white);
  }
  .image {
    z-index: -1;
  }
  .image__mobile {
    opacity: 1;
  }
  .image__desktop {
    opacity: 0;
  }
}
