.link {
  align-items: center;
  cursor: pointer;
  font-weight: 400;

  .icon {
    margin-left: 10px;

    & > path {
      stroke: var(--primary-yellow-gray);
    }
  }

  &[data-revert="true"] {
    flex-direction: row-reverse;
    justify-content: flex-end;

    & .icon {
      margin: 0;
      margin-right: 10px;
      transform: rotate(180deg);
    }
  }
}
