@import "variables";

.product_card {
  position: relative;

  display: grid;
  grid-template-rows: 31px 157px 1fr;
  grid-template-columns: 1fr;

  max-width: 224px;
  padding: 0 1rem 1rem;

  border: 1px solid var(--secondary-gray);
  border-radius: 10px;

  &__tag_wrapper {
    display: flex;
    margin-top: 0.5rem;
  }

  &__icon_like {
    // position: absolute;
    // top: 13px;
    // right: 16px;
    margin-left: auto;
    z-index: 1;

    cursor: pointer;

    & > path {
      stroke: var(--dark-gray);
    }
  }

  &__image {
    margin-bottom: 1rem;
  }

  &__description_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  &__description {
    min-height: 28px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 0;

    border: transparent;
    border-radius: 8px;
    background-color: var(--secondary-green);
    color: var(--white);

    cursor: pointer;

    &:hover {
      background-color: var(--light-green);
    }

    &_icon {
      margin-left: 0.5rem;
      cursor: pointer;
      > path {
        fill: var(--white);
      }
    }
  }
}

@include breakpoint_max("mobile") {
  .product_card {
    max-width: 168px;

    padding: 0 0.5rem 0.5rem;
    grid-template-rows: 31px 97px 1fr;

    &__description {
      margin: 0.5rem 0;
    }
  }

  .product_card__image {
  }
}
