@import "variables";

.wrapper {
  width: 100%;
  max-width: 90px;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--secondary-gray);
  border-radius: 10px;
}

.title {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--secondary-light-gray);
}

.value {
  text-align: center;
  padding: 0.5rem;
}

@include breakpoint_max("tablet_md") {
  .title {
    font-size: 0.8rem;
  }

  .value {
    font-size: 0.8rem;
  }
}
