.section {
  display: flex;
  gap: 21px;
  margin: 64px 0;
}

.item {
  &_wrapper {
    display: flex;
    background-color: var(--light-yellow);
    border-radius: 10px;
    padding: 1rem;

    // &:not(:last-child) {
    //   margin-right: 21px;
    // }
  }
}

.description {
  margin-left: 21px;

  &_title {
    margin-bottom: 0.25rem;
    line-height: 24.3px;
  }

  &_text {
    opacity: 0.6;
    line-height: 19.5px;
  }
}
