@import "variables";

.wrapper {
  position: relative;
  padding-top: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
  > .container {
    padding-top: 0;
    padding: 0 22.5rem;
  }
}

.title {
  margin-right: 2rem;
}

.input_wrapper {
  max-width: 326px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 2rem;

  width: 100%;

  background-color: var(--secondary-lightest-green);
}

.content {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:nth-child(4) {
      margin-top: 1rem;
    }

    &__item {
      display: inline-block;
      // margin-bottom: 0.5rem;
      line-height: 19.5px;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .item_title {
    margin-bottom: 0.5rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .contact {
    &_wrapper {
      display: flex;
      flex-direction: column;
    }

    &_tel {
      display: flex;
      justify-content: space-around;
      color: var(--secondary-gray);
    }
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
  gap: 2rem;

  &__icon {
    // &:not(:last-child) {
    //   margin-right: 2rem;
    // }
  }
}

.policy {
  display: flex;
  justify-content: space-around;
  margin: 58px 0 40px;

  border: 1px solid var(--secondary-gray);
  border-width: 1px 0;
  &__wrapper_link {
    display: flex;
    gap: 2rem;
  }

  &__link {
    // &:not(:last-child) {
    //   margin-right: 2rem;
    // }
  }
}
.payment_method {
  display: flex;
  justify-content: center;
  gap: 2.75rem;

  &__icon {
    // &:not(:last-child) {
    //   margin-right: 2.75rem;
    // }
  }
}

@include breakpoint_max("tablet_lg") {
  .wrapper {
    > .container {
      padding: 0;
    }
  }
  .heading {
    flex-direction: column;
    align-items: flex-start;

    padding: 1rem 2rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .input_wrapper {
    max-width: none;
    width: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;

    .list {
      display: none;
    }
    .item_title {
      margin: 0;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_tel {
      gap: 1rem;
    }
    & > .tel_desc {
      margin: 1.5rem 0;
    }
  }

  .social {
    margin-top: 0;
    justify-content: center;
  }

  .policy {
    flex-direction: column;
    align-items: center;

    margin: 1.5rem 0;
    padding: 1.5rem 0;
    gap: 1rem;

    &__wrapper_link {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

@include breakpoint_max("mobile") {
  .wrapper {
    margin-top: 2rem;
    > .container {
      padding: 0;
    }
  }

  .heading {
    padding: 1rem;

    margin-bottom: 1.5rem;
  }
}
