.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;

  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  border: none;
  font-weight: 400;

  border-radius: 10px;
  span {
    margin-right: 10px;
  }
  path {
    fill: var(--black);
  }

  &[data-type="primary"] {
    color: var(--white);
    background-color: var(--secondary-green);

    path {
      fill: var(--white);
    }

    &:hover {
      background-color: var(--light-green);
    }
  }

  &[data-type="secondary"] {
    color: var(--black);
    background-color: var(--secondary-light-gray);

    &:hover {
      background-color: #e6e9ef;
    }
  }

  &[data-type="transparent"] {
    border: 1px solid var(--secondary-gray);

    color: var(--green);
    font-weight: 600;

    path {
      fill: var(--white);
    }

    &:hover {
      border-color: var(--secondary-green);
    }
  }
  &[data-disabled="true"] {
    cursor: not-allowed;
    background-color: var(--white);
    color: var(--black);

    &:hover,
    &:active {
      background-color: var(--secondary-light-gray);
    }
  }
}
