.slider-wrapper {
}
.rec-slider-container {
  margin: 0;
}
.slider {
  position: relative;
}

.slider-item {
  display: flex;
  max-width: 1200px;
  width: 100%;

  border-radius: 10px;

  position: relative;

  background: linear-gradient(
    87.07deg,
    #ffe0b3 0%,
    #ffe0a4 46.24%,
    #fcf5e6 76.73%,
    #ffffff 97.56%
  );
  // background: url("../images/hero_image.png") no-repeat right bottom,
  //   linear-gradient(
  //     87.07deg,
  //     #ffe0b3 0%,
  //     #ffe0a4 46.24%,
  //     #fcf5e6 76.73%,
  //     #ffffff 97.56%
  //   );
  // background-size: cover;

  &__image {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 384px;
    margin-top: 102px;
    margin-left: 96px;
    margin-bottom: 6.375rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__description {
    line-height: 160%;
    margin-bottom: 2rem;
  }
  &__link {
    display: flex;
    align-items: center;

    & > .icon {
      margin-left: 10px;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: fit-content;
    padding: 12px 10px;
    background-color: var(--white);
    border-radius: 10px;
    color: var(--green);
  }
}

.slider-button {
  position: absolute;
  right: 56px;
  bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: 1px solid var(--secondary-gray);

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(40px);
  box-shadow: none;

  cursor: pointer;
  z-index: 1;

  transition: all 100ms linear;

  .slider-icon {
    width: 7;
    height: 12px;
    path {
      stroke: #067935;
    }
  }

  &:first-child {
    right: 112px;
    > svg {
      transform: rotate(180deg);
    }
  }
  &:hover:enabled {
    border-color: var(--secondary-green);
  }
  &:disabled {
    border: 1px solid var(--dark-gray);

    & > svg {
      path {
        stroke: var(--dark-gray);
      }
    }
  }
}
