.slider-wrapper {
}

.slider {
  position: relative;
}

.slider-item {
  display: flex;
  max-width: 1200px;
  width: 100%;

  border-radius: 10px;

  position: relative;

  background: linear-gradient(
    87.07deg,
    #ffe0b3 0%,
    #ffe0a4 46.24%,
    #fcf5e6 76.73%,
    #ffffff 97.56%
  );
  // background: url("../images/hero_image.png") no-repeat right bottom,
  //   linear-gradient(
  //     87.07deg,
  //     #ffe0b3 0%,
  //     #ffe0a4 46.24%,
  //     #fcf5e6 76.73%,
  //     #ffffff 97.56%
  //   );
  // background-size: cover;

  &__image {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 384px;
    margin-top: 102px;
    margin-left: 96px;
    margin-bottom: 6.375rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__description {
    line-height: 160%;
    margin-bottom: 2rem;
  }
  &__link {
    display: flex;
    align-items: center;

    & > .icon {
      margin-left: 10px;
    }
  }
}

.slider-button {
  position: absolute;
  right: 56px;
  bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: transparent;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(40px);
  box-shadow: none;

  cursor: pointer;
  z-index: 1;

  .slider-icon {
    width: 7;
    height: 12px;
    path {
      stroke: #067935;
    }
  }

  &:hover:enabled {
    background-color: #e1f4d7;
  }

  &:first-child {
    right: 112px;
    > svg {
      transform: rotate(180deg);
    }
  }
}
