$breakpoints: (
  "desktop_lg": 1920px,
  "desktop_md": 1440px,
  "desktop_sm": 1280px,
  "tablet_lg": 1440px,
  "tablet_slg": 1024px,
  "tablet_md": 768px,
  "mobile": 670px,
) !default;

// $breakpoints-paddings: (
//   "desktop_lg": 360px,
//   "desktop_md": 120px,
//   "desktop_sm": 40px,
//   "tablet_lg": 162px,
//   "tablet_md": 34px,
//   "mobile": 16px,
// ) !default;

//Mixins
@mixin breakpoint_min($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from #{$breakpoint}. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin breakpoint_max($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from #{$breakpoint}. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// @mixin container() {
//   @each $breakpoint-name, $breakpoint-value in $breakpoints {
//     @include breakpoint_max($breakpoint-name) {
//       $horizontal-padding: map-get($breakpoints-paddings, $breakpoint-name);
//       $max-width: $breakpoint-value - $horizontal-padding * 2;

//       padding: 11rem $horizontal-padding 0;
//       max-width: $max-width;

//       @include breakpoint_min("desktop_md") {
//         padding: 360px;
//       }
//     }
//   }
// }
