@import "variables";

.title {
}
.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  margin-bottom: 1.5rem;
}
.select_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 1.5rem;
}

.product_counter {
  font-size: 0.81rem;
  margin-right: 1rem;
}
.tab_wrapper {
  display: flex;
  gap: 0.5rem;
  user-select: none;
}
.tab {
  background: var(--white);

  border: 1px solid var(--secondary-gray);
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 0.81rem;
  cursor: pointer;

  &[data-active="true"] {
    background-color: var(--secondary-lightest-green);
  }
}

.pagination_wrapper {
  margin-top: 1.5rem;
  margin-bottom: 2.875rem;
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.handle_wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;

  svg {
    width: 8px;
  }
}

.handle_desc {
  font-size: 0.81rem;
  font-weight: 600;
}

@include breakpoint_max("tablet_slg") {
  .card__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include breakpoint_max("tablet_md") {
  .card__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
